@*<a href="http://twitter.com" target="_blank"><img src="@Url.Content("~/Images/twitter.png")"/></a>*@
<a href="http://www.facebook.com/theLANUG" target="_blank"><img src="@Url.Content("~/Images/facebook.png")"/></a>
<a href="https://plus.google.com/105681478003197232414" target="_blank"><img src="@Url.Content("~/Images/google.png")"/></a>
@*<a href="@Url.Content("~/rss")" target="_blank"><img src="@Url.Content("~/Images/rss.png")"/></a>*@
<a href="mailto:chris@lanug.net" target="_blank"><img src="@Url.Content("~/Images/email.png")"/></a>