<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Lower Alabama .Net User Group</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("styles", required: false)
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="TopBar">
            <nav>
                <ul id="Menu">
                    <li><a href="@Url.Content("~/")">Home</a></li>
                    <li><a href="@Url.Content("~/About")">About</a></li>
                    <li><a href="@Url.Content("~/Calendar")">Calendar</a></li>
                    <li><a href="@Url.Content("~/Sponsors")">Sponsors</a></li>
                    <li><a href="@Url.Content("~/Contact")">Contact</a></li>
                </ul>
            </nav>
            <div class="float-right inline">
                <section id="TopConnectIcons" class="icons">
                    @Html.Partial("_ConnectIconsPartial")
                </section>
            </div>
        </div>
    </header>
    <div id="BodyWrapper">
        <div id="SideBar">
            <div id="LogoArea">
                <img id="MainLogo" src="@Url.Content("~/Images/logo.png")"/>
            </div>
            <div id="SideContent">
                    @Html.Partial("_SideContentPartial", new LANUG.Models.LANUGEntities().Events.Where(m => m.EndTime > DateTime.Now).OrderBy(m => m.StartTime))
            </div>
        </div>
        <div id="Body">
            @if (Request.IsAuthenticated)
            {
                <div id="admin-nav">
                    <ul>
                        <li><a href="@Url.Content("~/Admin/Events")">Events</a></li>
                        <li><a href="@Url.Content("~/Admin/Sponsors")">Sponsors</a></li>
                        <li><a href="@Url.Content("~/Admin/Account/Manage")">Account</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Content("~/Admin/Users")">Users</a></li>
                        }
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            }
            @RenderSection("featured", required: false)
            <div id="Content">
                @RenderBody()
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <footer class="clear-fix">
        <div class="one-third">
            <div id="FooterConnectArea">
                <span class="main-text">connect</span>
                <section id="FooterConnectIcons" class="icons">@Html.Partial("_ConnectIconsPartial")</section>
            </div>
        </div>
        <div class="one-third">
            <img src="@Url.Content("~/Images/lanug.png")"/><br />
            <span class="small-dark-text"><a href="http://yokleydesigns.com" target="_blank">site by yokley designs</a></span>
        </div>
        <div class="one-third">
            <div id="FooterSubscribeArea">
                    <input type="text" id="LANUGSubscribeEmailAddress" name="LANUGSubscribeEmailAddress"/> <span class="main-text"><a href="javascript:SubmitSubscribe();">subscribe</a></span>
            </div>
        </div>
    </footer>
    <div style="display: none;">
        <a href="https://plus.google.com/105681478003197232414" rel="publisher">Google+</a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(window).load(function () {
            // Set body and side columns to the same height.
            if ($('#Body').height() < $('#SideBar').height()) $('#Body').height($('#SideBar').height());
        });

        function SubmitSubscribe() {
            //alert($('#LANUGSubscribeEmailAddress').val()); return;
            $.post("http://www.freelists.org/cgi-bin/subscription.cgi", {
                email: $('#LANUGSubscribeEmailAddress').val(),
                list: 'lanug',
                url_or_message: 'Thanks for subscribing. Weve added you to the email list and will notify you of upcoming events and important news.',
                action: 'subscribe'
            })
                .always(function () {
                    $('#LANUGSubscribeEmailAddress').val('');
                    alert('Thanks for subscribing. You should recieve an email in the next few minutes with instructions on how to verify your subscription. If you don\'t recieve your confirmation email then please visit http://www.freelists.org/list/lanug to subscribe.');
                });
        }
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38331433-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
