@model LANUG.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>
        <table class="info-table">
            <tr>
                <td>
                @Html.LabelFor(m => m.OldPassword)</td>
                <td>
                @Html.PasswordFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>
                @Html.LabelFor(m => m.NewPassword)</td>
                <td>
                @Html.PasswordFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>
                @Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>
                @Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" value="Change password" />
    </fieldset>
}
