@model LANUG.Models.Event

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime) <i>format: 1/1/2013 6:30:00 pm</i>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime) <i>format: 1/1/2013 6:30:00 pm</i>
        </div>
        
        <div class="editor-label">
            <label for="SponsorList">Sponsors</label>
        </div>
        <div class="editor-field">
            <select id="SponsorList" name="SponsorList" multiple="multiple">
                @foreach (SelectListItem itm in ViewBag.EventSponsors)
                {
                    <option value="@itm.Value">@itm.Text</option>
                }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Info)
        </div>
        <div class="editor-field">
            <textarea id="Info" name="Info" class="ckeditor" rows="15"></textarea>
            <script type="text/javascript">
                CKEDITOR.replace('Info', {
                    filebrowserUploadUrl : '@Url.Content("~/Admin/File/UploadFile")'
                });
            </script>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            <textarea id="Summary" name="Summary" class="ckeditor" rows="15"></textarea>
            <script type="text/javascript">
                CKEDITOR.replace('Summary', {
                    filebrowserUploadUrl: '@Url.Content("~/Admin/File/UploadFile")'
                });
            </script>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript">
        $("select[multiple] option").mousedown(function () {
            if ($(this).prop("selected")) $(this).prop("selected", "");
            else $(this).prop("selected", "selected");

            return false;
        });
    </script>
}
